{% extends "layout.html" %}
{% block content %}

	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/resources/demos/style.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script>
		$( function() {
			var cache = {};
			$( "#input-search" ).autocomplete({
			minLength: 2,
			source: function( request, response ) {
				var term = request.term;
				if ( term in cache ) {
				response( cache[ term ] );
				return;
				}
				
				$.getJSON( "search.py", request, function( data, status, xhr ) {
				cache[ term ] = data;
				response( data );
				});
			}
			});
		} );
		</script>
	</head>	

      <h1 class="text-center text-lg-left">Search Streams </h1>

      <div class="section">
        <form class="row" method="GET">
          <div class="form-group col-10">
            <label for="input-search" class="sr-only">Search</label>
            <input type="text" class="form-control full-width" id="input-search" placeholder="Search for any stream..." name="s" value="{{ s }}">
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-primary pull-right full-width"> <i class="fa fa-search" aria-hidden="true"></i> Search </button>
          </div>
          <div class="clear"></div>
        </form>
      </div>
      {% if results: %}
      <div class="section">
        <h2 class="text-center text-lg-left">Results</h2>
        <div class="row text-center text-lg-left">
          {% for result in results %}
          <div class="col-lg-4 col-md-4 col-xs-6">
            <a href="view?id={{ result.id }}" class="d-block mb-4 h-100">
              {% if result.cover_url != None %}
              <img class="img-fluid img-thumbnail" src="{{ result.cover_url|safe }}" alt="">
              {% else %}
              <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
              {% endif %}
              <div class="caption">
                <span>{{ result.name }}</span>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      {% elif not results and s %}
      <div class="section">
        <h2 class="text-center text-lg-left">Results</h2>
        <div class="text-center text-lg-left">

          <div class="alert alert-danger full-width" role="alert">
            <i class="fa fa-exclamation-triangle fa-4" aria-hidden="true"></i>
            <span class="sr-only">No results:</span>
            There are no streams that match your search
          </div>

        </div>
      </div>

      {% endif %}
{% endblock %}