{% extends "layout.html" %}
{% block content %}

      <div class="row">
        <h1 class="text-center text-lg-left">Top 3 Trending Streams </h1>
        <div class="col-9">
          <h2 class="text-center text-lg-left">Last Hour</h2>
          <div class="row text-center text-lg-left">
          {% for stream in streams %}
            <div class="col-lg-4 col-md-4 col-xs-12">
              <a href="view?id={{ stream.id }}" class="d-block mb-4 h-100">
                {% if stream.cover_url != None %}
                <img class="img-fluid img-thumbnail" src="{{ stream.cover_url|safe }}" alt="">
                {% else %}
                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                {% endif %}
                <div class="caption">
                  <span>{{ stream.name }}</span>
                </div>
              </a>
              <h6 class="trending-views"><b>{{ stream.views_list_count }}</b> views in the past hour</h6>
            </div>
          {% endfor %}
          </div>
        </div>
        <div class="col-3">
          <form id="form-trending-report">
            <h2 class="text-center text-lg-left">Report Rate</h2>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="report-rate" id="report-no" value="0" checked>
                No Reports
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="report-rate" id="report-5" value="1" >
                5 Minutes
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="report-rate" id="report-1" value="2" >
                1 hour
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="report-rate" id="report-day" value="3" >
                Every day
              </label>
            </div>
            <br>
            <button type="submit" class="btn btn-success pull-left"><i class="fa fa-check-circle" aria-hidden="true"></i> Update Rate</button>
          </form>
        </div>
      </div>
{% endblock %}
